#experience p , #education p{
    margin-bottom: 0.5em;
}

.project-title{
    font-size: 100%;
    font: inherit;
    text-align: center;
}



#resume-button{
    height: 50px;
    background: #123c5d;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.sec-title{
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012540d6;
}

#resume{
    padding: 50px!important;
}

.mtop-30{
    margin-top: 30px;
}

.mbot-0{
    margin-bottom: 0;
}
 .social-container {
	 margin: 0 auto;
	 text-align: center;
}
 .social-icons {
	 padding: 0;
	 list-style: none;
	 margin: 1em;
}
 .social-icons li {
	 display: inline-block;
	 margin: 0.15em;
	 position: relative;
	 font-size: 1.2em;
}
 .social-icons i {
	 color: #fff;
	 position: absolute;
	 top: 15px;
    left: 32px;
	 transition: all 265ms ease-out;
}
 .social-icons a {
	 display: inline-block;
}
 .social-icons a:before {
	 transform: scale(1);
	 -ms-transform: scale(1);
	 -webkit-transform: scale(1);
	 content: " ";
	 width: 60px;
	 height: 60px;
	 border-radius: 100%;
	 display: block;
	 background: linear-gradient(45deg, #00b5f5, #002a8f);
	 transition: all 265ms ease-out;
}
 .social-icons a:hover:before {
	 transform: scale(0);
	 transition: all 265ms ease-in;
}
 .social-icons a:hover i {
	 transform: scale(2.2);
	 -ms-transform: scale(2.2);
	 -webkit-transform: scale(2.2);
	 color: #00b5f5;
	 background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 transition: all 265ms ease-in;
}
 
