.section_1 {
  height: auto;
  background: white;
}

#top-bar {
  background: black;
}

.cameras-container {
  padding: 90px 0;
  width: 100%;
}

.cameras-container h2 {
  color: #525252;
  text-align: center;
  font-size: 2em;
}

.cameras-container:after {
  content: "";
  display: table;
  clear: both;
}

.separator {
  width: 30%;
  border: none;
  border-top: 2px solid #525252;
  margin-bottom: 40px;
}

.camera_flexbox {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 20px;
  margin-top: -50px;
}

.camera_box {
  padding: 5px;
  width: 31%;
  height: 400px;
  margin-top: 50px;
  color: #525252;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.camera_frame {
  width: 100%;
  height: 100%;
}

.cameras-container .group_elements {
  height: 100%;
  position: relative;
}

.camera_box h4 {
  color: #525252;
  position: relative;
  font-size: 0.4em;
  margin: 50px 0 0 0;
  white-space: nowrap;
}

#add_camera {
  padding-top: 15%;
  height: 300px;
}

@media only screen and (max-width: 1050px) {
  .camera_box {
    width: 47%;
  }
}

@media only screen and (max-width: 750px) {
  .camera_box {
    width: 90%;
    margin: 50px auto;
  }
}