.dashboard_main {
    grid-column: 1 / 4;
}

.dashboard_container h3{
    margin:10px;
}

.separator{
    margin-bottom: 40px;
}

body{
    text-align: center;
}

#logo-container {
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    height: 100%;
}

#top-bar {
    width: 100%;
}
#logo{
    margin: 0 auto;
}
nav #logo-container img {
    padding-top: 12px;
}