/* Comments */

html {
  background: #343434;
}

body {
  background-color: #343434;
  margin: 0;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
}

/****************** Header - Top menu ***********************/

#top-bar {
  background: none;
  transition: 1s;
}

nav {
  z-index: 500;
  display: block;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

nav #logo-container {
  float: left;
  vertical-align: center;
  display: inline-flex;
  padding-left: 14px;
  padding-top: 5px;
}

nav #logo-container img {
  height: 60px;
  width: 150px;
}

#openNav {
  background: none;
  color: white;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.fas:active {
  border: 1px solid #868387;
}

.fas {
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
}

.fas:hover {
  background-color: #383838;
}

#menu {
  float: right;
  margin-right: 3%;
  margin-top: 30px;
}

#menu a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 10px;
}

#menu a:hover {
  background-color: black;
  color: white;
}

#log_in_button {
  border-radius: 10%;
  background-color: #8BC34A;
}

#sign_up_button {
  border-radius: 10%;
  background-color: #383838;
}

#log_in_button:hover {
  border: 2px solid #8BC34A;
  background-color: black;
}

#sign_up_button:hover {
  border: 2px solid #383838;
  background-color: black;
}

#account_logo {
  border-radius: 10%;
  background-color: #8BC34A;
}

#account_logo:hover {
  border: 2px solid #8BC34A;
  background-color: black;
}

/****************** Main ***********************/

.content {
  width: 100%;
}

/****************** SIDEBAR ***********************/

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

#sidebar {
  width: 15%;
  height: 110%;
  position: fixed;
  z-index: 100;
  left: -15%;
  background-color: #343434;
  transition: 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;
  /*overflow: auto;*/
}

#sidebar a {
  color: #fff;
  text-decoration: none;
  /*font-size: 1.4vw;*/
  font-weight: 800;
  display: block;
  transition: 0.25s;
  line-height: 2.25;
  padding: 0 10%;
}

.sidebar_nav {
  padding: 120px 0px;
}

#sidebar a:hover {
  color: #a29e9e;
}

#sidebar .fa {
  width: 30px;
}

/****************** Main ***********************/

#main {
  width: 100%;
  float: right;
  position: relative;
  transition: 0.5s;
}

/****************** Section 1 ***********************/

.section_1 {
  background: #000 url(../images/home5.jpg);
  height: 100vh;
  color: #fff;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  height: 100%;
  width: 80%;
  margin: auto;
}

.color-overlay {
  width: 100%;
  height: 100vh;
  background: black;
  opacity: .6;
  position: absolute;
}

.hero_content {
  width: 40%;
  position: absolute;
  top: 7%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  z-index: 1;
  animation: pop-in 3s ease-out forwards;
  font-family: 'Rubik', sans-serif;
}

.hero_content h1 {
  margin: 0;
}

.hero_content h3 {
  margin: 0;
}

/* Animations */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0%, -50%) scale(.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#hero_menu {
  margin-top: 20px;
}

#hero_sign_up_button {
  border-radius: 10%;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px 30px;
}

#hero_sign_up_button:hover {
  background-color: #4d4d4db4;
}

#hero_explore_button {
  border-radius: 10%;
  background-color: #b10000;
  color: white;
  padding: 5px 30px;
  transition: all 0.5s;
  cursor: pointer;
}

#hero_explore_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#hero_explore_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#hero_explore_button:hover {
  background-color: #b100007a;
}

#hero_explore_button:hover span {
  padding-right: 25px;
}

#hero_explore_button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Log in box */

.login_wrapper {
  width: 20%;
  position: absolute;
  top: 4%;
  margin-left: 50%;
  border-radius: 20px;
  background-color: rgba(28, 28, 28, 0.99);
  z-index: 1;
  /*box-shadow: -11px 14px 43px -15px rgba(69,69,69,1);*/
  padding: 0px 0px 40px 0px;
}

.login_box {
  padding: 20px 30px;
  border-radius: 5px;
}

.log_in_container {
  display: grid;
}

.log_in_container label {
  margin: 10px 0;
}

.log_in_container button {
  margin-top: 10px;
  border: 0;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  color: #8bc34a;
  font-size: 1.1em;
}

input[type="text"], input[type="password"] {
  padding: 10px 0px;
  margin: 15px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(247, 243, 243, 0.248);
  outline: none;
  color: #46485c;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #46485c;
}

.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6d7781;
}

.login_box h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  display: none;
}

/****************** Section 2 ***********************/

.section_2 {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  color: black;
  text-align: center;
  padding-top: 8%;
}

.section_2 h2, h4 {
  margin: 0;
}

.about_wrapper {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
}

.about_quotes {
  width: 40%;
  height: 80%;
  margin: auto;
}

.about_quotes p {
  text-align: left;
}

.about_quotes img {
  width: 90%;
  padding-top: 5%;
  object-fit: cover;
}

.video {
  width: 40%;
  height: auto;
  margin: auto;
}

/****************** Section 3 ***********************/

.section_3 {
  width: 100%;
  height: auto;
  background-image: url("../images/lamps.jpg");
  color: #000;
  text-align: center;
  padding-bottom: 20px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.section_3 h2, h4 {
  margin: 0;
}

.services_wrapper {
  width: 70%;
  margin: 0 15%;
  height: auto;
  color: white;
}

.services_wrapper h2 {
  margin: 40px 0 10px 0;
  font-size: 40px;
}

.services_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background: rgba(39, 39, 39, 0.58);
  border-radius: 5%;
}

.services_col_1_row_1, .services_col_2_row_1, .services_col_3_row_1 {
  grid-column: 1 / 3;
  padding: 40px 0;
  height: 40vh;
  padding-top: 80px;
  margin: 20px;
  border-radius: 10%;
  background: rgb(243, 243, 243);
}

.services_col_1_row_1:hover, .services_col_2_row_1:hover, .services_col_3_row_1:hover {
  box-shadow: 0px 0px 12px 6px rgba(255, 255, 255, 1);
}

.services_col_1_row_1 i, .services_col_1_row_1 h2, .services_col_1_row_1 p {
  position: relative;
  top: -150px;
  margin-bottom: 20px;
}

.services_col_2_row_1 i, .services_col_2_row_1 h2, .services_col_2_row_1 p {
  position: relative;
  top: -150px;
  margin-bottom: 20px;
}

.services_col_3_row_1 i, .services_col_3_row_1 h2, .services_col_3_row_1 p {
  position: relative;
  top: -150px;
  margin-bottom: 20px;
}

.services_col_1_row_1 {
  grid-row: 1;
  grid-column: 1;
  background: rgb(255, 255, 255);
}

.services_col_2_row_1 {
  grid-row: 1;
  grid-column: 2;
  background: rgb(255, 255, 255);
}

.services_col_3_row_1 {
  grid-row: 1;
  grid-column: 3;
  background: rgb(255, 255, 255);
}

.services_row h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.4vw;
  padding-top: 20px;
  color: #000;
  margin-top: 0px;
}

.services_row i {
  font-size: 100px;
  background: linear-gradient(to bottom, #8bc34a, #1b221c);
  padding: 30px;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease 0s;
  position: relative;
  top: -150px;
  width: 100px;
  height: 100px;
}

.services_col_1_row_1 i {
  background: linear-gradient(to bottom, #8bc34a, #1b221c);
}

.services_col_2_row_1 i {
  background: linear-gradient(to bottom, #587EBC, #8D4D99);
}

.services_col_3_row_1 i {
  background: linear-gradient(to bottom, #A04A89, #E65844);
}

.services_row p {
  font-family: 'Lato', sans-serif;
  color: #000;
}

.separator {
  width: 400px;
  border: none;
  border-top: 2px solid rgb(255, 255, 255);
  margin-bottom: 100px;
}

.space {
  width: 100%;
  height: 80px;
  background-color: #000;
}

/****************** Section 4 ***********************/

.section_4 {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 100px;
}

.section_4 h2 {
  margin: 0;
  color: black;
}

.section_4 h2 {
  font-size: 40px;
}

.section_4 h3 {
  font-size: 30px;
}

.team_wrapper {
  width: 80%;
  margin: 0% 10%;
}

.team_1 {
  width: 80%;
  background: rgb(255, 255, 255);
  height: 370px;
  margin: 5% auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 24px 24px 13px -1px rgba(0, 0, 0, 0.61);
}

.team_2 {
  width: 80%;
  background: rgb(255, 255, 255);
  height: 370px;
  margin: 5% auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 24px 24px 13px -1px rgba(0, 0, 0, 0.61);
}

.section_4 .info {
  text-align: left;
  padding: 5%;
  width: calc(90% - 200px);
}

.image_baggos {
  background-image: url(../images/person.jpg);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  /*margin: 5% 5% 5% 0%;*/
  margin: 5% 0% 5% 5%;
  background-position: center;
  background-size: contain;
  float: right;
}

.image_thanos {
  background-image: url(../images/person.jpg);
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 5% 0% 5% 5%;
  background-position: center;
  background-size: contain;
  float: left;
}

.team_wrapper .fa {
  color: white;
  background-color: black;
  padding: 6px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  border-radius: 50%;
}

/****************** Section 5 ***********************/

.section_5 {
  width: 100%;
  height: auto;
  background-image: url("../images/pc.jpg");
  color: #37923b;
  text-align: center;
  padding: 80px 0 80px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_5 h2, h4 {
  margin: 0;
}

.contact_wrapper {
  width: 70%;
  height: 100%;
  margin: auto;
}

/*
.contact_wrapper{

    flex: 0 1 700px;
    margin: auto;
    padding: 10px;

  }*/

.screen {
  position: relative;
  background: #1c1d1d;
  border-radius: 15px;
}

.screen:after {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #141414;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  width: 100%;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-right: 0px;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #8BC34A;
  font-size: 26px;
  padding-top: 20px;
}

.app-title p {
  font-size: 15px;
  font-weight: 900;
}

.app-title:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #8BC34A;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #8BC34A;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #37923b;
}

.app-form {
  padding: 20px 20px 0 0;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }
  .screen-body-item.left {
    margin-bottom: 30px;
  }
  .app-title {
    flex-direction: row;
    padding-top: 20px;
  }
  .app-title span {
    margin-right: 12px;
  }
  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }
  .screen-body-item {
    padding: 0;
  }
}

/****************** Footer ***********************/

.footer {
  widows: 100%;
  height: 30vh;
  background: black;
  color: #000;
  font-family: basis_grotesque_proregular;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #c1c1c1;
}

.footer a:hover {
  color: #909090;
}

.footer h2 {
  color: #ffffff;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer_row {
  color: #c1c1c1;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  background: rgb(0, 0, 0);
  padding-bottom: 30px;
}

.footer_col_1, .footer_col_2, .footer_col_3, .footer_col_4 {
  grid-column: 1 / 4;
  padding: 20px;
  height: auto;
}

.footer_col_1 {
  padding-top: 30px;
  grid-row: 1;
  grid-column: 1;
}

.footer_col_1 a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.footer_col_2 {
  grid-row: 1;
  grid-column: 2;
}

.footer_col_3 {
  grid-row: 1;
  grid-column: 3;
}

.footer_col_4 {
  grid-row: 1;
  grid-column: 4;
}

.footer .fa {
  width: 15px;
}

#copyright {
  color: #a4a4a4;
  padding: 40px 30px 20px 30px;
  background-color: #191919;
}


/*  Top Button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #8BC34A;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}